body{
	background-color:#2f4050;
}
.col-sm-10{
	background-color:white;
}
#Side_Menu a{
	color:white;
}
#Side_Menu .active a{
	color:black;
	background-color:#27aae1;
	font-weight:bold;
}
#Side_Menu a:hover{
	color:black;
	background-color:#1ab394;
	font-weight:bold;
	display:block;
}